/* Define standard variables and values for website */
$main-color: #9356DC;
$second-color: #99E2D0;
$third-color: #008766;
$fourth-color: #89C8FA;
$fifth-color: #003A68;
$sixth-color: #FF79DA;
$seventh-color: #F6F6F6;


$main-font : 'Arsenal', sans-serif;
$second-font : 'Dancing Script', cursive;

$icon : black;